<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"> SETI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fas fa-chart-pie"></i> Quienes somos?</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-briefcase"></i> Trabaje con nosotros</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-chalkboard-teacher"></i> Contáctenos</a>
                      </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-bezier-curve"></i>
                Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Migracion de datos</a>
                <a class="dropdown-item" href="#">Calidad de datos</a>
                <a class="dropdown-item" href="#">Gestión de base de datos</a>
                <a class="dropdown-item" href="#">Administración sistema operativo</a>
                <a class="dropdown-item" href="#">Servidores de aplicaciones</a>
                <a class="dropdown-item" href="#">SOA e intregración</a>
                <a class="dropdown-item" href="#">Centro de addministración remota</a>
                <a class="dropdown-item" href="#">Desarrollo de software</a>
                <a class="dropdown-item" href="#">Gestión de información</a>
                <a class="dropdown-item" href="#">Business process management</a>
                <!--<div class="dropdown-divider"></div>-->
                <a class="dropdown-item" href="#">(BPM)</a>
              </div>
            </li>
           <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">trailers</a>
            </li>-->
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>-->
          </form>
        </div>
      </nav>